<table *ngIf="showTable" class="table table-hover table-striped" style="text-align: left !important;">
  <thead>
  <tr>
    <th>Anlass</th>
    <th>Datum</th>
    <th>Uhrzeit</th>
    <th>Treffpunkt</th>
    <th>Kleidung</th>
  </tr>
  </thead>
  <tbody>
  <tr>

    <td><input type="text" class="form-control" id="anlass" title="anl"></td>
    <td><input type="date" class="form-control" id="datum" title="dat"></td>
    <td><input type="time" class="form-control" id="uhrzeit" title="uhr"></td>
    <td><input type="text" class="form-control" id="treffpunkt" title="tre"></td>
    <td>
    <select class="form-control" name="selectClothes" id="kleidung" title="clo">
      <option *ngFor="let clothing of clothes" [value]="clothing.id">{{clothing.beschreibung}}</option>
    </select>
    </td>

  </tr>
  </tbody>
</table>

<div class="center">
  <button type="button" class="btn btn-danger" (click)="set()">Erstellen!</button>
</div>

