
<div class="container" id="contentOne">
  <h1>Welcome!</h1>

  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#tilesModal" style="position: absolute; margin-top: -48px !important; margin-left: 200px !important;" >
    Edit Tiles
  </button>
    <div class="row">
        <tiles>
            <!--  style="display: flex !important; flex-wrap: wrap !important;"-->
            <div class="col-md-2">
                <tile [shown]="true" [tileName]="'News \n #hack4tk'"><h1><a routerLink="news">News</a></h1><news [short]="true" [filter]="'#hack4tk'"></news></tile>
                <tile [shown]="true" [tileName]="'News \n #angular2'"><news [short]="true" [filter]="'#angular2'"></news></tile>
                <tile [shown]="true" [tileName]="'News \n #theMTeam'"><news [short]="true" [filter]="'#theMTeam'"></news></tile>
                <tile [shown]="true" [tileName]="'Maps'"><app-traffic-jam></app-traffic-jam></tile>
                <tile [shown]="true" [tileName]="'Blog'"><app-blog></app-blog></tile>
            </div>
            <div class="col-md-10">
                <ng-content></ng-content>
            </div>
        </tiles>
    </div>
</div>
