<nav *ngIf="isAuth()" class="navbar navbar-default" style="margin-bottom: 0!important; color: lightskyblue !important;">
  <div class="container-fluid" id="start">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li (click)="onLogout()"><a style="cursor: pointer" >Logout</a></li>
          <a class="links" routerLink="/" routerLinkActive="active">Hilfe</a>
          <a class="links" routerLink="profile" routerLinkActive="active">Einstellungen</a>
          <a class="links" routerLink="/" routerLinkActive="active">Administration</a>
        </ul>
        <my-head></my-head>
      </div>
    </div>
  </div>
</nav>
  <router-outlet>
  </router-outlet>
<my-footer></my-footer>


