<nav *ngIf="isAuth()" class="navbar navbar-default" style="margin-bottom: 0!important; color: lightskyblue !important;">
  <div class="container-fluid" id="start">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="links">
          <a routerLink="/" routerLinkActive="active">Hilfe</a>
          <a routerLink="/" routerLinkActive="active">Einstellungen</a>
          <a routerLink="/" routerLinkActive="active">Administration</a>
        </ul>
        <my-head></my-head>
      </div>
    </div>
  </div>
  <ul class="nav navbar-nav">
      <li>
          <a routerLink="profile">Profil bearbeiten</a>
      </li>
      <li (click)="onLogout()"><a style="cursor: pointer" >Logout</a></li>
      <li>
          <a routerLink="news" routerLinkActive="active">News</a>
      </li>
      <li>
          <a routerLink="trafficJam" routerLinkActive="active">Traffic</a>
      </li>
  </ul>
  <router-outlet>
  </router-outlet>
<my-footer></my-footer>


