
  <table *ngIf="showTable" class="table table-hover table-striped" style="text-align: left !important;">
    <thead>
    <tr>
      <th>Teilnahme</th>
      <th>Anlass</th>
      <th>Datum</th>
      <th>Uhrzeit</th>
      <th>Treffpunkt</th>
      <th>Kleidung</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let termin of displayTermine()">
      <td>
        <div>
          <button  class="btn btn-primary" type="button"  [disabled]="isAttending(termin) == 'zu'" [value]="termin.id" (click)="zusage(z.value)" #z>Zusage</button><br>
          <button  class="btn btn-primary" type="button"  [disabled]="isAttending(termin) == 'ab'"  [value]="termin.id" (click)="absage(a.value)" #a>Absage</button>
        </div>
      </td>
      <td> {{termin.anlass}}</td>
      <td> {{termin.datum.substr(0, 10)}}</td>
      <td> {{termin.uhrzeit}}</td>
      <td> {{termin.ort_treffen}}</td>
      <td> {{termin.kleidung}}</td>
    </tr>
    </tbody>
  </table>



