<div class="container">
    <form #userForm="ngForm">
        <div class="form-group">
            <label>
                Nickname:
                <input type="text" [(ngModel)]="currentUser.user_nicename" class="form-control" required name="nicename">
            </label>
        </div>
        <div class="form-group">
            <label>
                e-Mail:
                <input type="text" [(ngModel)]="currentUser.user_email" class="form-control" required disabled name="email">
            </label>
        </div>
        <div class="form-group">
            <label>
                Sichtbarer Name:
                <input type="text" [(ngModel)]="currentUser.display_Name" class="form-control" required name="display">
            </label>
        </div>
        <div class="form-group">
            <label>
                Login-Name:
                <input type="text" [(ngModel)]="currentUser.user_login" class="form-control" required disabled name="login">
            </label>
        </div>
    </form>
</div>